body
{
	background-color: #F2F2F2;
	margin-top: 0px;
	padding: 0 0 0 30px !important;
}

#wrapper
{
	margin-left: 150px;
	max-width: 950px;
}

#left-menu
{
	float: left;
	padding-left: 20px;
	position: fixed;
	width: 250px;
}

#content
{
	background-color: #FFFFFF;
	margin-left: 265px;
	min-height: 650px;
	padding: 0 20px;
}

/* content styling */

#content header
{
	border-bottom: 1px solid #BDBDBD;
	height: 31px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

#content header label
{
	padding: 4px 0px;
	float: left;
}
#content header input
{
	float: right;
	font: 16px arial,sans-serif;
	height: auto;
	border: 1px solid #f2f2f2;
	border-radius: 0px;
	padding: 4px 7px;
	width: 90%;
}

#content article
{
	padding: 0 25px;
}

/* list styling */
.items
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.task-item
{
	border-bottom: 1px solid #EEE;
	padding-top:9px;
	padding-bottom:9px;
}

#left-menu h1
{
	font-family: 'Reenie Beanie', cursive;
	font-weight: normal;
	font-style: normal;
	font-size: 50px;
	margin-top: 5px;
}
